<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582043423782-8ggrvbhb9csg7thlmv9q59uencdek7c2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582043423782-8ggrvbhb9csg7thlmv9q59uencdek7c2</string>
	<key>API_KEY</key>
	<string>AIzaSyCGoM6tajpMiUaemu1x_dkLU0YgvgdrgHc</string>
	<key>GCM_SENDER_ID</key>
	<string>582043423782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weaterapp</string>
	<key>PROJECT_ID</key>
	<string>weather-app-2c804</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-app-2c804.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582043423782:ios:0bd93af1901066daf582e7</string>
</dict>
</plist>